In [1]:
import pandas as pd
import numpy as np
import re
from nltk.corpus import stopwords
from math import isnan

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
df = pd.read_csv('FullData.csv')
df = df.apply(lambda x: x.astype(str).str.lower())
df = df.drop('Country', axis=1)
df = df.drop('I agree with the terms mentioned above:', axis=1)
df.head()

,Age,Sex,Marital Status,Education,#1,# 2,# 3,# 4,# 5,# 6,...,# 8,# 9,# 10,# 11,# 12,O,C,E,A,N
0,48,female,divorced,high school degree or equivalent,gemstone,waterfall,clouds,bacon,water,wave,...,mountains and rivers,volcano,tide,space,explosion,2,5,1,4,3
1,23,female,single never married,bachelor's degree (eg ba bs),planet,galaxy,sea,colored water,rocks,feather,...,land,planet,ursulla,sand and sea,?,3,4,3,4,3
2,26,male,single never married,high school degree or equivalent,galaxy,weird,lock screen photo,ameba,glass,feather,...,earth,australia,3d,sand and sea,?,3,4,2,4,3
3,21,female,single never married,high school degree or equivalent,a distant photograph of israel,waves in the sea,waves in the sea,cell development,sea,sea,...,earth,?,?,desert,ink that spreads in water,4,4,3,5,2
4,24,male,single never married,high school degree or equivalent,waves cell supernova,cellular structures,wavy,cells (current lesson),beach and sea,dawn,...,earth from above,a city,something dark in his nature,dunes,ghost pokémon,5,3,4,5,2

In [4]:
df['Age'].min()
df['Age'].max()

'18'

'66'

### categories:

#### sex: '0' - female, '1' - male
#### marital Status: {'0': divorced;   '1': married or domestic partnership;   '2': separated;   '3': single}
#### education: {'0': bachelor's degree;   '1': doctorate;   '2': high school degree;   '3': less than a high school diploma;   '4': master's degree;   '5': other}
#### age - {'0': 18-29;   '1': 30-39;   '2': 40-49;   '3': 50-59;   '4': 60+}

In [5]:
df['Sex'] = df['Sex'].astype('category').cat.codes
df['Marital Status'] = df['Marital Status'].astype('category').cat.codes
df['Education'] = df['Education'].astype('category').cat.codes
for index in df.index:
    df.loc[index, 'Age'] = int(df.loc[index, 'Age'])
    if df.loc[index, 'Age'] < 30:
        df.loc[index, 'Age'] = 0
    elif df.loc[index, 'Age'] >= 30 and df.loc[index, 'Age'] < 40:
        df.loc[index, 'Age'] = 1
    elif df.loc[index, 'Age'] >= 40 and df.loc[index, 'Age'] < 50:
        df.loc[index, 'Age'] = 2
    elif df.loc[index, 'Age'] >= 50 and df.loc[index, 'Age'] < 60:
        df.loc[index, 'Age'] = 3
    else:
        df.loc[index, 'Age'] = 4

df.head()

,Age,Sex,Marital Status,Education,#1,# 2,# 3,# 4,# 5,# 6,...,# 8,# 9,# 10,# 11,# 12,O,C,E,A,N
0,2,0,0,2,gemstone,waterfall,clouds,bacon,water,wave,...,mountains and rivers,volcano,tide,space,explosion,2,5,1,4,3
1,0,0,3,0,planet,galaxy,sea,colored water,rocks,feather,...,land,planet,ursulla,sand and sea,?,3,4,3,4,3
2,0,1,3,2,galaxy,weird,lock screen photo,ameba,glass,feather,...,earth,australia,3d,sand and sea,?,3,4,2,4,3
3,0,0,3,2,a distant photograph of israel,waves in the sea,waves in the sea,cell development,sea,sea,...,earth,?,?,desert,ink that spreads in water,4,4,3,5,2
4,0,1,3,2,waves cell supernova,cellular structures,wavy,cells (current lesson),beach and sea,dawn,...,earth from above,a city,something dark in his nature,dunes,ghost pokémon,5,3,4,5,2

In [6]:
pics_objects_df = df.loc[:, '#1':'# 12']
pics_objects_df.head()

,#1,# 2,# 3,# 4,# 5,# 6,# 7,# 8,# 9,# 10,# 11,# 12
0,gemstone,waterfall,clouds,bacon,water,wave,rain,mountains and rivers,volcano,tide,space,explosion
1,planet,galaxy,sea,colored water,rocks,feather,rain,land,planet,ursulla,sand and sea,?
2,galaxy,weird,lock screen photo,ameba,glass,feather,dry paint,earth,australia,3d,sand and sea,?
3,a distant photograph of israel,waves in the sea,waves in the sea,cell development,sea,sea,raindrops on the window,earth,?,?,desert,ink that spreads in water
4,waves cell supernova,cellular structures,wavy,cells (current lesson),beach and sea,dawn,flowing,earth from above,a city,something dark in his nature,dunes,ghost pokémon

In [7]:
categories_list = pd.read_csv('category list.csv')

In [8]:
feelings = pd.read_csv('feelings.csv')
categories = pd.read_csv('categories.csv')
other = pd.read_csv('other.csv')

feelings.head()
categories.head()
other.head()

          1                  0
0  creative  Slight discomfort
1   amazing           Confused
2       joy             Nausea
3   Curious          emptiness
4      nice          confusion

,1,2,3,4,5,6,7,8,9,10,...,36,37,38,39,40,41,42,43,44,45
0,lava exploded,Gemstone,planet,A distant photograph of Israel,Mountain on a beach,seashell,Dead Sea in color,Sea and shoreline,Waves,Water,...,Feather,slightly dark,arrow,trail of missile,Glacier reflected,nuclear blast,forest,icecream,Layers,Rainbow
1,warmth,Colorful gem,Galaxy,Satellite photography,Mountain ranges,oyster,Sea of ​​colors,island,sea,river,...,bird feather,light caresses out of the darkness,Arrow tail,boat trail,Very nice reflection,blast,woody nature,psychotic milkshake,Layers of something,Part of the rainbow
2,Magma,energetic rock,Supernova,travel around the world,Psychedelic everest,Algae at sea,A colorful ocean,Beach,ocean,Flow,...,Peacock feathers,the light at the end of the tunnel,Arrow flies fast,trail,snowy mountain reflection,eruption,wood,banana strawberry juice,earth levels,Rainbow forming
3,Lava,Halved gemstone,Outer space,Up,Snowy mountain,NaN,Colorful sea,Sea and beach,Sea at sunset,hot springs,...,Zoom in on a feather,darkness,sharp,NaN,Mount with reflection,NaN,NaN,sweet,Atmospheric levels,NaN
4,Lava melting into sea,stone Agate,Intergalactic,earth,Mountain very beautiful,NaN,lake of watercolors,Coastline,A flood spilling into the sea,Running water,...,Pleasant feather,secret cave,edged,NaN,mountain with reflection,NaN,NaN,Candy,NaN,NaN

                    -1
0  knowing what I want
1                  awe
2                 Slow
3    empowered dwarfed
4              new way

In [9]:
cat_dct = categories.to_dict()

for k in cat_dct:
    inter_dct = cat_dct[k]
    cat_lst = [inter_dct[i].lower() for i in inter_dct if str(inter_dct[i]) != 'nan']
    cat_dct[k] = cat_lst

cat_dct

{'1': ['lava exploded',
  'warmth',
  'magma',
  'lava',
  'lava melting into sea',
  'warm',
  'voclano',
  'heat',
  'volcano',
  'volcanic eruption'],
 '2': ['gemstone',
  'colorful gem',
  'energetic rock',
  'halved gemstone',
  'stone agate',
  'opal',
  'stone',
  'geode',
  'layers of stone',
  'stone',
  'stones',
  'crystals'],
 '3': ['planet',
  'galaxy',
  'supernova',
  'outer space',
  'intergalactic',
  'atmosphere',
  'universe',
  'calm space',
  'nebula',
  'colors from outer space',
  'smeared galaxy',
  'deep void',
  'stars',
  'night sky',
  'lost in space',
  'space',
  'colorful planet',
  'black hole',
  'meteorite  fireball',
  'moon'],
 '4': ['a distant photograph of israel',
  'satellite photography',
  'travel around the world',
  'up',
  'earth',
  'flow to unknown location',
  'photo from space',
  'interesting satellite image',
  'satellite images',
  'lock screen photo',
  'sky from space',
  'veiw from space',
  'down to earth',
  'earth from above',
  'top view',
  'aerial photograph of interest',
  'earth',
  'earth and sea',
  'down',
  'globe',
  'geography'],
 '5': ['mountain on a beach',
  'mountain ranges',
  'psychedelic everest',
  'snowy mountain',
  'mountain very beautiful',
  'rocks',
  'cliff on the sea',
  'abyss',
  'mountain side',
  'slope of mountain',
  'mountain',
  'a mountain of snow on a lake',
  'cloud gliding over mountains',
  'mountains and sky',
  'mountains',
  'cliffs',
  'valley',
  'canyon'],
 '6': ['seashell', 'oyster', 'algae at sea'],
 '7': ['dead sea in color',
  'sea of \u200b\u200bcolors',
  'a colorful ocean',
  'colorful sea',
  'lake of watercolors',
  'water in colors',
  'ocean of colors',
  'colored waves',
  'colored water',
  'rivers in colors',
  'waterfalls of color'],
 '8': ['sea and shoreline',
  'island',
  'beach',
  'sea and beach',
  'coastline',
  'sea shore',
  'coast',
  'foam of the waves washed ashore',
  'beach and sea',
  'ocean beach at night',
  'beach through a clam',
  'island in the sea',
  'lonely sunset on the beach',
  'islands',
  'seychelles',
  'islands  geothermal maps',
  'blurry  islands',
  'kamchatka peninsula',
  'beaches'],
 '9': ['waves',
  'sea',
  'ocean',
  'sea at sunset',
  'a flood spilling into the sea',
  'waves in the sea',
  'looks like a beautiful wave',
  'a wave in the sea',
  'wavy storm',
  'drops in waves',
  'a wave crashes on a cliff',
  'tsunami and the victims',
  'sea storm',
  'rough seas',
  'war in a stormy sea',
  'raised waves of calm',
  'wavy',
  'waves of the ocean',
  'wave',
  'rising waves descending',
  'wavy height',
  'stormy sea',
  'a sea in black and white',
  'less beautiful sea',
  'a melancholy sea',
  'surfing',
  'big wave in the middle of nowhere',
  'breaking wave',
  'swimmimg',
  'looks like a sea after a surfer',
  'tidal wave',
  'surfing wave',
  'waves at night',
  'waves in space',
  'tide'],
 '10': ['water',
  'river',
  'flow',
  'hot springs',
  'running water',
  'white water river',
  'fluid',
  'alarming water',
  'currents',
  'stream',
  'liquid',
  'fluids mixture',
  'life in flow',
  'white river',
  'calm water',
  'water at a close look',
  'flood',
  'water with stones',
  'waterfall',
  'waterfall splashed',
  'a desolate and peaceful lake',
  'leaking pond',
  'spilled',
  'underwater'],
 '11': ['storm of winds',
  'storm',
  'a storm in space',
  'storm on a star',
  'storm - meteorology',
  'storm of colors',
  'turbulence',
  'winds',
  'wind',
  'stormy wind',
  'stormy',
  'breeze',
  'trees in the storm',
  'heavenly storm',
  'windy weather',
  'solar winds',
  'storm viewed from a cliff',
  'tornado'],
 '12': ['splitting the red sea',
  'tearing of the red sea',
  'something that crosses the sea',
  'a sea that opens in two',
  'crossing the sea',
  'bisected'],
 '13': ['trapped bubbles',
  'bubbles',
  'bubbles in the ocean',
  'a bubble that is going to burst',
  'sodas',
  'bubbly',
  'babbling ocean',
  'boiling water',
  'soap with water'],
 '14': ['abstract beauty',
  'beautiful ',
  'a childish unicorn makes butterflies happy',
  'pretty',
  'butterflies',
  'rug',
  'ethnic dress',
  'stained glass',
  'graffiti wall',
  'beauty',
  'blues',
  'cherries'],
 '15': ['window',
  'heavy rain on windshield',
  'wet window',
  'dew',
  'window in the rain',
  'rain drops',
  'car wash',
  'colored water in car wash',
  'drops',
  'drips on window glass',
  'tears',
  'raindrops'],
 '16': ['contrasts',
  'lava vs water',
  'water and fire',
  'cold and hot',
  'mixed shades',
  'union',
  'sea with fire',
  'summer and winter',
  'winter and murder',
  'contrasts intertwine',
  'mixing',
  'waterfall and lava',
  'transition into light',
  'cold to hot',
  'the four elements',
  'difference',
  'various',
  'different prospectives',
  'elements',
  'mixed feelings',
  'changes',
  'calm blue to angry red',
  'attempt to merge',
  'diversity separation',
  'separation',
  'seperate',
  'connecting heaven and earth',
  'unbalanced',
  'integration',
  'hot to cold',
  'opposites',
  'sea and blood',
  'combination',
  'connection'],
 '17': ['cellular structures',
  'blood',
  'body tissues',
  'bacteria',
  'biological puddle',
  'mold',
  'under a microscope',
  'the human body from within',
  'anatomy',
  'ameba',
  'cell development',
  'cells',
  'blood system',
  'compartmentalization',
  'internal parts of the body',
  'life',
  'four different cells',
  'heart surgery',
  'body cells',
  'dna',
  'process',
  'corrosion under microscope',
  'epithelial cells',
  'roots',
  'object under a microscope',
  'parasite under a microscope',
  'veins',
  'cell',
  'development of a fungus',
  'bulb under a microscope',
  'microscope',
  'tissue',
  'close up of a leaf',
  'human cells',
  'close up',
  'like cells in the body',
  'uterus',
  'formation',
  'creation',
  'biological experiment',
  'adaptation',
  'mitochondria',
  'neuron',
  'protected core',
  'nerves'],
 '18': ['animals',
  'horses',
  'dragon',
  'shark',
  'tentacles',
  'whale',
  'spirits and angels',
  'ursulla',
  'dolphin',
  'monster',
  'jellyfish',
  'extraterrestrial',
  "parrot's head",
  'lion',
  'bat',
  'sphinx',
  'phenix'],
 '19': ['rain', 'first rain', 'raining day', 'rainy day'],
 '20': ['oil',
  'dirty river',
  'dirty oil',
  'dirt',
  'chemicals',
  'polluted sea',
  'dirty water',
  'water and oil',
  'oil stain'],
 '21': ['looks like a map',
  'temperature map',
  'trails are orderly but different',
  'a variety of focal points',
  'pages',
  'colored continents',
  'map of weather',
  'weather map',
  'map',
  'geothermal'],
 '22': ['people',
  'different face one person',
  'models',
  'faces',
  'four women',
  'a devil',
  'society',
  '4 women standing on the train',
  'prince of the church',
  'fishman',
  'god',
  'witch',
  'musketeer'],
 '23': ['flower field',
  'flowering fields',
  'color and blossom',
  'tulip fields',
  'wisteria tree',
  'cherries lavender ice',
  'rose petal',
  'roses'],
 '24': ['nature',
  'nature pictures',
  'black and white landscape',
  'landscape picture',
  'desert landscape portrait',
  'landscape',
  'tiberias',
  'view',
  'mainland',
  'italy',
  'australia',
  'iceland',
  'africa',
  'ukraine'],
 '25': ['desert',
  'desert by night',
  'stony desert',
  'oasis',
  'dunes',
  'egypt',
  'dessert',
  'colored sand',
  'sands',
  'sun'],
 '26': ['ash in the wind', 'smoke', 'burned forest'],
 '27': ['water seeps',
  'soil and floods',
  'under surface',
  'ground',
  'geology',
  'histological slice',
  'earthy colors',
  'colored soil'],
 '28': ['climate change', 'ice melting', 'global warming cold'],
 '29': ['very old', 'makes me feel old', 'ancient', 'old pianting'],
 '30': ['dry soil that decomposes',
  'dry skin',
  'dry',
  'breaking',
  'crackes',
  'dryness',
  'cracks in the earth'],
 '31': ['icey shore',
  'snow',
  'glacier',
  'frozen in time',
  'ice at the north pole',
  'antarctica',
  'alaska',
  'glaciers',
  'a layer of white ice soil',
  'freezing sea',
  'cold',
  'photo arctic ice shore',
  'snow by the sea',
  'ice on water',
  'ice',
  'snow trails',
  'ice breaks',
  'white',
  'north pole',
  'snowy forest at night',
  'northern lights',
  'winter',
  'north',
  'ice in the sea',
  'colorful glacier',
  'avalanche'],
 '32': ['horizon at the beach',
  'separation between heaven and earth',
  'horizon',
  'shadows and horizon',
  'something in the sky',
  'sunrise',
  'dawn',
  'sky above water at sunset',
  'sunset',
  'clouds over the earth',
  'clouds',
  'clouds from above',
  'clouds merge',
  'cloudy skies',
  'feather shaped clouds',
  'melting cloud',
  'sky',
  'firmament',
  'sunshine green blood sky',
  'skyline'],
 '33': ['glass of water', 'glass', 'broken glass'],
 '34': ['a speedboat at sea',
  'boat sailing in the sea',
  'a ship that sailed at sea'],
 '35': ['something is torn',
  'rifted',
  'light cut',
  'a page of torn information'],
 '36': ['feather',
  'bird feather',
  'peacock feathers',
  'zoom in on a feather',
  'pleasant feather',
  'light like a feather',
  'fly with a feather',
  'a close-up of a feather',
  'feather\xa0and also massiveness',
  'feathers',
  'leaf',
  'windbird',
  'wings',
  'feather',
  'feathers',
  'figures and feathers'],
 '37': ['slightly dark',
  'light caresses out of the darkness',
  'the light at the end of the tunnel',
  'darkness',
  'secret cave',
  'into the dark',
  'dark cave with a lake',
  'night',
  'light in the darkness',
  'wadi by moonlight',
  'sea depth',
  'the depth of the ocean',
  'darkness',
  'dark feeling',
  'quiet',
  'night',
  'dark',
  'gray',
  'silence',
  'gloomy',
  'sad serenity',
  'wasteland',
  'depth'],
 '38': ['arrow', 'arrow tail', 'arrow flies fast', 'sharp', 'edged'],
 '39': ['trail of missile', 'boat trail', 'trail'],
 '40': ['glacier reflected',
  'very nice reflection',
  'snowy mountain reflection',
  'mount with reflection',
  'mountain with reflection',
  'reflect mountain in lake',
  'reflection of the sea at night',
  'a reflection of a waterfall'],
 '41': ['nuclear blast', 'blast', 'eruption'],
 '42': ['forest', 'woody nature', 'wood'],
 '43': ['icecream',
  'psychotic milkshake',
  'banana strawberry juice',
  'sweet',
  'candy',
  'unfinished candy'],
 '44': ['layers', 'layers of something', 'earth levels', 'atmospheric levels'],
 '45': ['rainbow', 'part of the rainbow', 'rainbow forming']}

In [10]:
feels_dct = feelings.to_dict()

for k in feels_dct:
    inter_dct = feels_dct[k]
    feels_lst = [inter_dct[i].lower() for i in inter_dct if str(inter_dct[i]) != 'nan']
    feels_dct[k] = feels_lst

feels_dct

{'1': ['creative',
  'amazing',
  'joy',
  'curious',
  'nice',
  'creativity',
  'attractive',
  'interest',
  'attraction',
  'good',
  'impression',
  'passion',
  'hope',
  'calm',
  'peace',
  'calmness',
  'neutral',
  'happyness',
  'happy',
  'optimism',
  'positive',
  'exciting',
  'energetic',
  'imagination',
  'passionate',
  'interesting',
  'interested',
  'curiosity',
  'creation',
  'very emotionally',
  'imaginary calm',
  'peaceful',
  'relaxing',
  'relaxation',
  'warmth',
  'a storm of emotions',
  'sweeps me away',
  'astonishment',
  'bursting energy',
  'supernatural mind',
  'touching infinity',
  'aspiration',
  'born new life',
  'pretty',
  'quite',
  'relaxed',
  'gentle dance',
  'deep breath',
  'fun',
  'mistiriously happy',
  'optimistic',
  'pleasure',
  'standstill',
  'overcoming',
  'freedom',
  'soothing',
  'perfection',
  'mystery',
  'peacful',
  'thoughtful',
  'excited',
  'special',
  'cheerful',
  'control',
  'soft',
  'romantic',
  'happiness',
  'intriguing',
  'magical dreaming',
  'surprised',
  'enchanted',
  'motivation',
  'protection',
  'spectacular glow',
  'powerfull',
  'happiness erupts'],
 '0': ['slight discomfort',
  'confused',
  'nausea',
  'emptiness',
  'confusion',
  'boring',
  'not evoke emotions',
  'anxious',
  'feeling worried',
  'uneasy',
  'irritated',
  'lonely',
  'darkness',
  'explosion',
  'dispersal',
  'mess',
  'expansion',
  'spread power unstoppable',
  'diffuse spread',
  'hallucination',
  'agitation',
  'mental turmoil',
  'chaos',
  'weird',
  'obscure',
  'scary',
  'sad',
  'melancholy',
  'upset',
  'suffocated',
  'collusion forces fight',
  'tension',
  'fear',
  'slightly gloomy',
  'hardship',
  'scare',
  'anxiety',
  'colors that do not work together',
  'a big mess',
  'bothers the eye',
  'an attempt to make order in creation',
  'fungal nightmares',
  'illness',
  'disgust',
  'disgusted',
  'does not evoke emotion',
  'sadness',
  'instability',
  'lonley',
  'bored',
  'scared',
  'threat',
  'loneliness',
  'isolated',
  'holocaust',
  'desperation',
  'solitude',
  'alone',
  'painful',
  'uncomfortable',
  'beautiful but sad',
  'uncertainty',
  'conflicted',
  'wierd',
  'complexity',
  'strange',
  'disturbing',
  'afraid',
  'greyish',
  'annoying partial drawing',
  'strange energies',
  'leakage',
  'unorganized',
  'messy',
  'distortion',
  'conflicted  unorganized',
  'stressed',
  'disorientated socked',
  'insulation',
  'danger',
  'ugly  basic',
  'disharmony',
  'crisis',
  'fearful',
  'heaviness  burden',
  'worry',
  'alienation',
  'aggression violence',
  'perplexity',
  'nonsense',
  'restlessness',
  'unpleasent',
  'terror',
  'anger',
  'mad']}

In [11]:
other_dct = other.to_dict()

for k in other_dct:
    inter_dct = other_dct[k]
    other_lst = [inter_dct[i].lower() for i in inter_dct if str(inter_dct[i]) != 'nan']
    other_dct[k] = other_lst

other_dct

{'-1': ['knowing what i want',
  'awe',
  'slow',
  'empowered dwarfed',
  'new way',
  'flowing traffic',
  'movement',
  'chase',
  'time smeared',
  'untouched',
  'sex',
  'shrimp on acid',
  'flouid france  ',
  'courage',
  'intentional spread',
  'race',
  'expansion',
  'direction',
  'there is no way back',
  'air conditioning',
  'friction',
  'bacon',
  'steps',
  'havdalah',
  'open',
  'piercing',
  'hurrying',
  'hypnotist',
  'the differentiator',
  'future',
  'renaissance',
  'heavenly',
  'distance',
  'terrace road',
  'fiction movie',
  'confident',
  'high way',
  'leaving farewell',
  'accurate',
  'vision',
  'breaking a routine',
  'sleepy',
  'survival',
  'champagne',
  'part of america',
  'communication',
  'inevitable anthropy',
  'a photo film was burned',
  'ink distribution',
  'vertical augmentedreality',
  'nylon bag',
  'lots',
  'search',
  'brotherhood',
  'trimmed in flavors',
  'museum',
  'dr. horse',
  'not earthly',
  'circle of colors',
  'spilled paint',
  'colored puddle',
  'paint',
  'colors',
  'a lot of colors',
  'color segments',
  'colorfulness',
  'variety of colors',
  'pervasive colors',
  'beautiful color coordinates',
  'melting colors',
  'pour paint on black canvas',
  'many colors',
  'a mixture of colors',
  'fresh painting on canvas',
  'color strokes',
  'watercolor',
  'noisy with the colors',
  'spilled paints',
  'love colors',
  'blue',
  'color flow',
  'gouache',
  'colorful',
  'colorful, want to get closer',
  'colorful frogs',
  'color drift',
  'colorful and encouraging',
  'color boundaries',
  'too many colors',
  'poor color',
  'monochrome',
  'nice colors',
  'table',
  'axis opening',
  'beautiful colors',
  'airy',
  'vibrant',
  'door',
  'fixation',
  'material',
  'drainage  nothing',
  'recalculate',
  'diffusion',
  'english channel',
  'egg yolk',
  'bar',
  'ideas',
  'lovecraftian horror',
  '3d',
  'drawing',
  'helmet',
  'pepsi',
  'laires',
  'mammography',
  "80's aesthetic",
  'stomach  dream',
  'exploration',
  'erupting features',
  "man's thoughts",
  'plans',
  'adventurous',
  'ghost pokֳ©mon',
  'native american tribal symbols',
  'fractures',
  'yell',
  'rhythm',
  'pasodoble',
  'judgmental',
  'mood',
  "beethoven's fifth",
  'blanket',
  'erotica',
  'earthquake',
  'fragility',
  'nostalgic',
  'discovery',
  'flight',
  'magic',
  'shiny',
  'party',
  'unearthly',
  'innovation',
  'lightning',
  '?']}

In [12]:
for col in pics_objects_df.columns:
    for indx in pics_objects_df.index:
        words = pics_objects_df.loc[indx, col].replace('-', ' ').replace('/', ' ').replace('.', ' ').replace('  ', ' ').split(' ')
        words = list(words)
        for word in words:
            for key in cat_dct:
                for value in cat_dct[key]:
                    if word in value:
                        pics_objects_df.loc[indx, col] = key
            for key in feels_dct:
                for value in feels_dct[key]:
                    if word in value:
                        pics_objects_df.loc[indx, col] = 0
            for key in other_dct:
                for value in other_dct[key]:
                    if word in value:
                        pics_objects_df.loc[indx, col] = 0
                
pics_objects_df.head(10)

   #1 # 2 # 3 # 4 # 5 # 6 # 7 # 8 # 9 # 10 # 11 # 12
0   2  40  32   0   0   9   0   7   1    9   11    0
1   3   3   0   0   5  36   0  37   3   18    0    0
2   3   0   0  17  33  36   0   0  24    0    0    0
3   4   0   0  17   0   0  15   0   0    0   25    0
4   3  17   9  17   0  32   0  32   0   42   25    0
5   0   0   0   0   0   0   0   0   0    0    0    0
6  35   0  36  17  40   0  15  32   4    0    4    0
7  21   0   0  20  40  40   0   0   3   44   25   10
8   0   0  11   0   0  36   0   0   0    0    0    0
9   0   0   0  44  30  18   0   4   3   27    0    0

In [13]:
pics_objects_df.to_csv('after categorize.csv')

In [14]:
categories_list

                category  num
0              lava, hot    1
1   layers (gems, candy)    2
2                  space    3
3       earth from above    4
4              mountains    5
5      Elements from sea    6
6          colored water    7
7                  coast    8
8                    sea    9
9                  water   10
10                storms   11
11     red sea splitting   12
12               bubbles   13
13        beautiful view   14
14     window with drops   15
15             Contrasts   16
16            biological   17
17             creatures   18
18                  rain   19
19                  dirt   20
20        map + top view   21
21                people   22
22         flowers field   23
23             landscape   24
24                desert   25
25                   ash   26
26                ground   27
27        Climate change   28
28                   old   29
29       dry and cracked   30
30                   ice   31
31       sky and horizon   32
32                 glass   33
33       ship in the sea   34
34                  torn   35
35               feather   36
36              darkness   37
37                 arrow   38
38                 trail   39
39            reflection   40
40                 blast   41
41                 woods   42
42                sweets   43
43                layers   44
44               rainbow   45

### modest categories:

#### pic 1 - space
#### pic 2 - reflection, space, sea, contrasts, window with drops
#### pic 3 - sky and horizon	
#### pic 4 - contrasts
#### pic 5 - ice
#### pic 6 - feather
#### pic 7 - window with drops	
#### pic 8 - map
#### pic 9 - storms
#### pic 10 - creatures
#### pic 11 - desert
#### pic 12 - sweets

In [15]:
pics_objects_df['#1'].value_counts().head(5)   # 3 / 11

0     74
3     10
11    10
4      5
37     4
Name: #1, dtype: int64

In [16]:
pics_objects_df['# 2'].value_counts().head(7)   # 40 / 3 / 9 / 15 / 16

0     83
40     5
16     5
9      5
15     5
3      5
11     4
Name: # 2, dtype: int64

In [17]:
pics_objects_df['# 3'].value_counts().head(5)   # 32 / 11 / 9

0     71
32    13
11    11
9     10
37     5
Name: # 3, dtype: int64

In [18]:
pics_objects_df['# 4'].value_counts().head(5)   # 16 / 17

0     70
16    10
17     9
22     5
44     5
Name: # 4, dtype: int64

In [19]:
pics_objects_df['# 5'].value_counts().head(5)   # 31 / 17

0     66
31    13
17    12
37     7
40     6
Name: # 5, dtype: int64

In [20]:
pics_objects_df['# 6'].value_counts().head(5)   # 36 / 9 / 40

0     56
36    26
9     12
40    10
32     7
Name: # 6, dtype: int64

In [21]:
pics_objects_df['# 7'].value_counts().head(5)   # 15

0     84
15    26
14     6
31     4
19     4
Name: # 7, dtype: int64

In [22]:
pics_objects_df['# 8'].value_counts().head(5)   # 21 / 4 / 8

0     63
21    16
4     13
8     10
24     7
Name: # 8, dtype: int64

In [23]:
pics_objects_df['# 9'].value_counts().head(6)   # 11 / 3 / 1 / 16

0     54
11    16
3     12
16     9
1      9
8      7
Name: # 9, dtype: int64

In [24]:
pics_objects_df['# 10'].value_counts().head(5)   # 18 / 11

0     80
11     8
18     7
4      6
27     4
Name: # 10, dtype: int64

In [25]:
pics_objects_df['# 11'].value_counts().head(5)   # 25

0     70
25    26
32     7
4      4
21     4
Name: # 11, dtype: int64

In [26]:
pics_objects_df['# 12'].value_counts().head(5)   # 43

0     81
43     9
23     6
44     5
36     4
Name: # 12, dtype: int64

In [27]:
cat_df = df.copy()
cat_df['#1'] = pics_objects_df['#1']
cat_df['# 2'] = pics_objects_df['# 2']
cat_df['# 3'] = pics_objects_df['# 3']
cat_df['# 4'] = pics_objects_df['# 4']
cat_df['# 5'] = pics_objects_df['# 5']
cat_df['# 6'] = pics_objects_df['# 6']
cat_df['# 7'] = pics_objects_df['# 7']
cat_df['# 8'] = pics_objects_df['# 8']
cat_df['# 9'] = pics_objects_df['# 9']
cat_df['# 10'] = pics_objects_df['# 10']
cat_df['# 11'] = pics_objects_df['# 11']
cat_df['# 12'] = pics_objects_df['# 12']

cat_df.head()

,Age,Sex,Marital Status,Education,#1,# 2,# 3,# 4,# 5,# 6,...,# 8,# 9,# 10,# 11,# 12,O,C,E,A,N
0,2,0,0,2,2,40,32,0,0,9,...,7,1,9,11,0,2,5,1,4,3
1,0,0,3,0,3,3,0,0,5,36,...,37,3,18,0,0,3,4,3,4,3
2,0,1,3,2,3,0,0,17,33,36,...,0,24,0,0,0,3,4,2,4,3
3,0,0,3,2,4,0,0,17,0,0,...,0,0,0,25,0,4,4,3,5,2
4,0,1,3,2,3,17,9,17,0,32,...,32,0,42,25,0,5,3,4,5,2

In [28]:
cat_df.to_csv('new_data.csv')

In [29]:
pics_emotions_df = df.loc[:, '#1':'# 12']
pics_emotions_df.head()

,#1,# 2,# 3,# 4,# 5,# 6,# 7,# 8,# 9,# 10,# 11,# 12
0,gemstone,waterfall,clouds,bacon,water,wave,rain,mountains and rivers,volcano,tide,space,explosion
1,planet,galaxy,sea,colored water,rocks,feather,rain,land,planet,ursulla,sand and sea,?
2,galaxy,weird,lock screen photo,ameba,glass,feather,dry paint,earth,australia,3d,sand and sea,?
3,a distant photograph of israel,waves in the sea,waves in the sea,cell development,sea,sea,raindrops on the window,earth,?,?,desert,ink that spreads in water
4,waves cell supernova,cellular structures,wavy,cells (current lesson),beach and sea,dawn,flowing,earth from above,a city,something dark in his nature,dunes,ghost pokémon

In [30]:
for col in pics_emotions_df.columns:
    for indx in pics_emotions_df.index:
        words = pics_emotions_df.loc[indx, col].replace('-', ' ').replace('/', ' ').replace('.', ' ').replace('  ', ' ').split(' ')
        words = list(words)
        for word in words:
            for key in feels_dct:
                for value in feels_dct[key]:
                    if word in value:
                        pics_emotions_df.loc[indx, col] = 1
            for key in cat_dct:
                for value in cat_dct[key]:
                    if word in value:
                        pics_emotions_df.loc[indx, col] = 0
            for key in other_dct:
                for value in other_dct[key]:
                    if word in value:
                        pics_emotions_df.loc[indx, col] = 0
                
pics_emotions_df.head(10)

  #1 # 2 # 3 # 4 # 5 # 6 # 7 # 8 # 9 # 10 # 11 # 12
0  0   0   0   0   0   0   0   0   0    0    0    1
1  0   0   0   0   0   0   0   0   0    0    0    0
2  0   1   0   0   0   0   0   0   0    0    0    0
3  0   0   0   0   0   0   0   0   0    0    0    0
4  0   0   0   0   0   0   0   0   0    0    0    0
5  1   1   1   1   0   0   0   0   1    1    1    1
6  0   1   0   0   0   0   0   0   0    0    0    0
7  0   0   0   0   0   0   0   0   0    0    0    0
8  1   1   0   1   0   0   0   0   1    1    0    1
9  1   1   1   0   0   0   0   0   0    0    1    1

In [31]:
em_df = df.copy()
em_df['#1'] = pics_emotions_df['#1']
em_df['# 2'] = pics_emotions_df['# 2']
em_df['# 3'] = pics_emotions_df['# 3']
em_df['# 4'] = pics_emotions_df['# 4']
em_df['# 5'] = pics_emotions_df['# 5']
em_df['# 6'] = pics_emotions_df['# 6']
em_df['# 7'] = pics_emotions_df['# 7']
em_df['# 8'] = pics_emotions_df['# 8']
em_df['# 9'] = pics_emotions_df['# 9']
em_df['# 10'] = pics_emotions_df['# 10']
em_df['# 11'] = pics_emotions_df['# 11']
em_df['# 12'] = pics_emotions_df['# 12']

em_df.head()

,Age,Sex,Marital Status,Education,#1,# 2,# 3,# 4,# 5,# 6,...,# 8,# 9,# 10,# 11,# 12,O,C,E,A,N
0,2,0,0,2,0,0,0,0,0,0,...,0,0,0,0,1,2,5,1,4,3
1,0,0,3,0,0,0,0,0,0,0,...,0,0,0,0,0,3,4,3,4,3
2,0,1,3,2,0,1,0,0,0,0,...,0,0,0,0,0,3,4,2,4,3
3,0,0,3,2,0,0,0,0,0,0,...,0,0,0,0,0,4,4,3,5,2
4,0,1,3,2,0,0,0,0,0,0,...,0,0,0,0,0,5,3,4,5,2

In [38]:
em_df['user_emo'] = em_df.loc[:, '#1':'# 12'].sum(axis = 1)

em_df.head(10)

,Age,Sex,Marital Status,Education,#1,# 2,# 3,# 4,# 5,# 6,...,# 9,# 10,# 11,# 12,O,C,E,A,N,user_emo
0,2,0,0,2,0,0,0,0,0,0,...,0,0,0,1,2,5,1,4,3,1.0
1,0,0,3,0,0,0,0,0,0,0,...,0,0,0,0,3,4,3,4,3,0.0
2,0,1,3,2,0,1,0,0,0,0,...,0,0,0,0,3,4,2,4,3,1.0
3,0,0,3,2,0,0,0,0,0,0,...,0,0,0,0,4,4,3,5,2,0.0
4,0,1,3,2,0,0,0,0,0,0,...,0,0,0,0,5,3,4,5,2,0.0
5,0,0,3,4,1,1,1,1,0,0,...,1,1,1,1,3,4,1,3,2,8.0
6,0,0,3,0,0,1,0,0,0,0,...,0,0,0,0,4,3,5,5,3,1.0
7,0,0,3,2,0,0,0,0,0,0,...,0,0,0,0,3,5,2,4,4,0.0
8,0,2,3,0,1,1,0,1,0,0,...,1,1,0,1,4,3,2,4,4,6.0
9,0,1,3,2,1,1,1,0,0,0,...,0,0,1,1,3,3,3,4,3,5.0

In [39]:
em_df.to_csv('emotion_data.csv')

In [40]:
pics_feelings_df = df.loc[:, '#1':'# 12']
pics_feelings_df.head()

,#1,# 2,# 3,# 4,# 5,# 6,# 7,# 8,# 9,# 10,# 11,# 12
0,gemstone,waterfall,clouds,bacon,water,wave,rain,mountains and rivers,volcano,tide,space,explosion
1,planet,galaxy,sea,colored water,rocks,feather,rain,land,planet,ursulla,sand and sea,?
2,galaxy,weird,lock screen photo,ameba,glass,feather,dry paint,earth,australia,3d,sand and sea,?
3,a distant photograph of israel,waves in the sea,waves in the sea,cell development,sea,sea,raindrops on the window,earth,?,?,desert,ink that spreads in water
4,waves cell supernova,cellular structures,wavy,cells (current lesson),beach and sea,dawn,flowing,earth from above,a city,something dark in his nature,dunes,ghost pokémon

In [41]:
for col in pics_feelings_df.columns:
    for indx in pics_feelings_df.index:
        words = pics_feelings_df.loc[indx, col].replace('-', ' ').replace('/', ' ').replace('.', ' ').replace('  ', ' ').split(' ')
        words = list(words)
        for word in words:
            for key in feels_dct:
                for value in feels_dct[key]:
                    if word in value:
                        pics_feelings_df.loc[indx, col] = key
            for key in cat_dct:
                for value in cat_dct[key]:
                    if word in value:
                        pics_feelings_df.loc[indx, col] = -1
            for key in other_dct:
                for value in other_dct[key]:
                    if word in value:
                        pics_feelings_df.loc[indx, col] = -1
                
pics_feelings_df.head(10)

   #1 # 2 # 3 # 4 # 5 # 6 # 7 # 8 # 9 # 10 # 11 # 12
0  -1  -1  -1  -1  -1  -1  -1  -1  -1   -1   -1    0
1  -1  -1  -1  -1  -1  -1  -1  -1  -1   -1   -1   -1
2  -1   0  -1  -1  -1  -1  -1  -1  -1   -1   -1   -1
3  -1  -1  -1  -1  -1  -1  -1  -1  -1   -1   -1   -1
4  -1  -1  -1  -1  -1  -1  -1  -1  -1   -1   -1   -1
5   1   0   0   1  -1  -1  -1  -1   1    0    1    0
6  -1   1  -1  -1  -1  -1  -1  -1  -1   -1   -1   -1
7  -1  -1  -1  -1  -1  -1  -1  -1  -1   -1   -1   -1
8   1   0  -1   0  -1  -1  -1  -1   0    0   -1    0
9   0   0   0  -1  -1  -1  -1  -1  -1   -1    0    0

In [48]:
feel_df = df.copy()
feel_df['#1'] = pics_feelings_df['#1']
feel_df['# 2'] = pics_feelings_df['# 2']
feel_df['# 3'] = pics_feelings_df['# 3']
feel_df['# 4'] = pics_feelings_df['# 4']
feel_df['# 5'] = pics_feelings_df['# 5']
feel_df['# 6'] = pics_feelings_df['# 6']
feel_df['# 7'] = pics_feelings_df['# 7']
feel_df['# 8'] = pics_feelings_df['# 8']
feel_df['# 9'] = pics_feelings_df['# 9']
feel_df['# 10'] = pics_feelings_df['# 10']
feel_df['# 11'] = pics_feelings_df['# 11']
feel_df['# 12'] = pics_feelings_df['# 12']

negative_feelings = []
positive_feelings = []
for index in feel_df.index:
    neg = 0;
    pos = 0;
    for col in ['#1', '# 2', '# 3', '# 4', '# 5', '# 6', '# 7', '# 8', '# 9', '# 10', '# 11', '# 12']:
        if feel_df.loc[index, col] == '0':
            neg = neg + 1
        elif feel_df.loc[index, col] == '1':
            pos = pos + 1
    negative_feelings.append(neg)
    positive_feelings.append(pos)
    
feel_df['negative'] = negative_feelings
feel_df['positive'] = positive_feelings

feel_df.head()

,Age,Sex,Marital Status,Education,#1,# 2,# 3,# 4,# 5,# 6,...,# 10,# 11,# 12,O,C,E,A,N,negative,positive
0,2,0,0,2,-1,-1,-1,-1,-1,-1,...,-1,-1,0,2,5,1,4,3,1,0
1,0,0,3,0,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,3,4,3,4,3,0,0
2,0,1,3,2,-1,0,-1,-1,-1,-1,...,-1,-1,-1,3,4,2,4,3,1,0
3,0,0,3,2,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,4,4,3,5,2,0,0
4,0,1,3,2,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,5,3,4,5,2,0,0

In [49]:
feel_df.to_csv('feelings_data.csv')